@model string


<div class="header-stripe">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <header id="fh5co-header" role="banner" style="margin-top:20px">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white menu-controls"><i></i></a>
            </header>
            <h1 class="stencil-large">The Court and @Model</h1>
        </div>
    </div>
</div>


