@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="header-stripe">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <header id="fh5co-header" role="banner" style="margin-top:20px">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white menu-controls"><i></i></a>
            </header>
            <h2 class="stencil-large">The Case At Hand</h2>
        </div>
    </div>
</div>

<hr />
<div style="margin: 0 auto">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p class="open-sans-body">
                The Supreme Court of the United States is at the same time one of the most powerful and one 
                of the least known institutions in the country. Now, with the appointment of Judge Brett Kavanaugh to fill 
                the seat left available by Justice Kennedy's coming retirement, the balance and impact of the Court 
                could change dramatically.
            </p>
        </div>
        <div class="col-md-6 col-xs-12">
            <p class="open-sans-body">
                In the past, rulings from the Supreme Court have been instrumental in guaranteeing rights and 
                freedoms to women, African-Americans, immigrants, laborers, and members of the LGBTQ community. 
                However, other decisions have opened our politics to a flood of "dark money", struck down 
                protections against voter suppression, and upheld an unjust travel ban.
            </p>
        </div>
        <div class="col-md-6 col-xs-12 clearfix" style="padding: 0 5% 0 5%">
           <p class="stencil-side">
               If Judge Kavanaugh joins the Court, he could and likely will lend his vote to the rollback of access 
               to conctraception and abortion, healthcare coverage, and LGBTQ rights.
           </p> 
        </div>
        <div class="col-md-12 col-xs-12">
            <p class=open-sans-body>
                We have arrived at this point because conservatives have paid more attention to the Court and 
                the importance of influencing it than progressives. They paid attention when Donald Trump used 
                the possibility of filling the seat left open by the late Antonin Scalia with someone who would to 
                Roe vs. Wade to convince Republicans to turn out for him on Election Day.
            </p>
        </div>
        <div class="col-md-12 col-xs-12">
            <p class="stencil-side" style="padding: 0 5% 0 5%">
                To have a chance of putting the Court back on a better, more liberal footing, progressives 
                are going to have to close that attention gap.
            </p>
        </div>
        <div class="col-md-12 col-xs-12">
            <p class="open-sans-body">
                <i>Get Involved</i>
                <br />
                <br />
                This site provides a resource for activists, organizers, and campaign workers seeking to engage 
                their networks over the importance of the Supreme Court to normal Americans. The content is broken 
                out across nine key issue areas that the Court has and will continue to impact, providing historical 
                information, the possibilities opened up by a more conservative Court, and resources for activism. 
                Further resources on understanding the Court, its activities, and Trump’s nominee can be found below. 
                The fight to take back the Court starts now!
            </p>
        </div>
    </div>
</div>

